*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    height: 3000px;
    background-color: rgba(11, 10, 10, 0.89);
    
    
}
header{
    background-image: url(/img/hdr.png);
    background-position: top;
    background-size: cover;
    height: 700px;
    position: relative;
    
}
nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    justify-content: center;
    background-image: url(/img/hdr.png);
    background-size: cover;
    background-position: top;
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 1;
    
    
}
.logo{
    
    margin: 20px 0px;
    font-size: 25px;
    font-weight: 900;
    
}
a{
    text-decoration: none;
    color: rgb(100, 0, 0);
}
ul{

    padding: 20px;
    list-style-type: none;
    display: flex;
    justify-self: center;
    

gap: 20px;
}
li{
    text-align: center;
    padding: 10px;
    /* border-radius: 20px;
    border: 2px solid black;
    background-color: rgb(85, 0, 0); */
    color: rgb(100, 0, 0);
}
li:hover{
     border-radius: 20px;
     color: white;
    
    background-color: rgb(85, 0, 0);
}
.title{
    position: absolute;
    top: 60%;
    left: 10%;
    color: rgb(138, 9, 9);
    font-size: 80px;
    font-weight: 900;
    
}

/*============================================================
----------------------- About start --------------------------
============================================================*/
.about{
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutdiv{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 140vh;
    height: 500px;

}
.abouttitle{
    font-size: 60px;
    color: rgb(138, 9, 9);
}
.aboutpar{
    text-align: center;
    padding: 40px;
    font-size: 25px;
    color: rgb(138, 9, 9);
}
.abouthr{
    width: 30%;
    height: 5px;
    border: 1px solid rgb(255, 0, 0);
    background-color:rgb(138, 9, 9);;
    border-radius: 20px;
}
.aboutprice{
    font-size: 30px;
    margin-top: 35px;
    color: rgb(138, 9, 9);
}

.aboutbtn{
    width: 150px;
    height: 60px;
    background-color: rgb(85, 0, 0);
    color: white;
    border-radius: 35px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 3px 10px black;

}
.aboutbtn:hover{
    box-shadow: 2px 1px 7px black;
}


/*============================================================
----------------------- Pics start --------------------------
============================================================*/

.pics{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    gap: 10px;
    justify-self: center;
    justify-content: center;
    align-items: center;
    grid-template-areas:
    "pic1 pic2 pic3"
    "vid vid vid"
    "pic5 pic6 pic7" ;
    
}
.picdiv{
    height: 280px;
    width: 340px;
    justify-self: center;
    position: relative;
    
}
.picdiv:hover{
    opacity: .6;
}
.pictitle{
    position: absolute;
    font-weight: 900;
    top: 88%;
    left: 5%;
    color: rgb(138, 9, 9);
    background-color: rgba(19, 18, 18, 0.9);
    padding: 4px;
    border-radius: 30px;
}
.pic1{
    background-image: url(/img/front.png);
    background-size: cover;
    grid-area: pic1 ;
}
.pic2{
    background-image: url(/img/rigth.png);
    background-size: cover;
    background-position: center;
    grid-area: pic2;
}
.pic3{
    background-image: url(/img/left.png);
    background-size: cover;
    background-position: center;
    grid-area: pic3 ;
}
.vid{
    width: 97%;
    height: 100%;
    padding: 20px 0px;
    grid-area: vid ;
}
.pic5{
    background-image: url(/img/inter.png);
    background-size: cover;
    background-position: center;
    grid-area: pic5 ;
}
.pic6{
    background-image: url(/img/back.png);
    background-size: cover;
    background-position: center;
    grid-area: pic6 ;
}
.pic7{
    background-image: url(/img/engin.png);
    background-size: cover;
    background-position: center;
    grid-area: pic7 ;
}

/*============================================================
----------------------- Specs start --------------------------
============================================================*/
.specs{
    display: flex;
    justify-content: center;
}
.spacsdiv{
    margin: 10% 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.spacstitle{
    font-size: 60px;
    padding: 20px;
    color: rgb(138, 9, 9);
}
.spacspar{
    font-size: 20px;
    padding: 35px;
    color: rgb(138, 9, 9);
    font-weight: 500;
}
table{
    margin: 45px 0px;
}
td{
    border-radius: 10px;
    padding: 20px;
}
.spctblodd{
    background-color: rgb(138, 9, 9);
    color: black;
    font-size: 20px;
}
.spctbleven{
    color: rgb(138, 9, 9);
    background-color: black;
    font-size: 20px;
}

/*============================================================
----------------------- Enquiry start ------------------------
============================================================*/

.eq{
    display: flex;
    justify-content: center;
    margin: 35px 0px;
    background-color: rgb(138, 9, 9);

}
.eqdiv{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
}
.eqtitle{
    font-size: 60px;
    padding: 20px;
    color: black;
}
.eqpar{
    font-size: 20px;
    padding: 35px;
    color: black;
}
.eqtext{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 2fr; */
    grid-template-areas: 
    "eqtext1 eqtext2 eqtext3 eqtext4"
    "eqtext5 eqtext5 eqtext5 eqtext5"
    "eqtext5 eqtext5 eqtext5 eqtext5"
    ;
    gap: 10px;
}
.eqtext1{
    grid-area: eqtext1;
}
.eqtext2{grid-area: eqtext2;}
.eqtext3{grid-area: eqtext3;}
.eqtext4{grid-area: eqtext4;}


.sbeq{
    
    width: 250px;
    
    
}
.eqtext5{grid-area: eqtext5; width: 100%;}
.sbeq > input{
    width: 100%;
    height: 70px;
    border-radius: 15px;
    border: 3px solid black;
    font-size: 25px;
    padding: 10px;
    color: rgb(138, 9, 9);
    
}
.des{
    width: 100%;
    height: 250px;
}